[2016-04-28 21:50] MasseGuillaume opened #1 "Register your spark package"
You have a dependency on Apache Spark. You can register your package at
http://spark-packages.org/register.
It's "[a] community index of packages for Apache Spark."

[2016-10-18 14:06] zhaihao opened #3 "spark 2.0.1"
it does not work with spark 2.0.1

[2016-10-18 14:13] thesamet commented on #3
Can you provide a description of what you're doing and what error you are seeing?

[2016-10-18 14:51] zhaihao commented on #3
@thesamet

Thanks for your reply.
The code:
[code]

The error message:
[code]
I have tried spark 2.0.0. it works very well.

[2016-10-18 15:06] thesamet commented on #3
Looks like the exception happens inside Spark. Anything unusual about the proto (many fields?)

[2016-10-18 15:18] zhaihao commented on #3
Yes, the proto has more than 50 fields, but I don't understand why it can work with spark 2.0.0.
`build.sbt`
[code]
The `me.ooon.ScalaPB` module only generate scala classes and the Scala version is 2.11.8

[2016-10-23 11:04] zhaihao opened #4 "How to convert DataFrame to Dataset? I have tried but got an error"
Hi, I want to convert DataFrame to Dataset. The code

[code]

`df.show()` work but `ds.show()` don't.  The err message

[code]

Can you tell me how I can solve it？

[2016-10-24 01:27] #3 closed

[2016-12-03 01:07] drewrobb opened #5 "Protos with recursive fields fail with stack overflow"
Adding a recursive field to a proto breaks things, see https://github.com/drewrobb/sparksql-scalapb-test/commit/4cfc436c5a3a9f75d4218a0695ff7e9c2b8300e3 for a reproduction. I'm happy to help address this if you have a recommended approach to solving it?

[code]

[2016-12-06 05:52] jon-morra-zefr commented on #4
I would love to have this functionality as well.

[2017-03-20 23:14] dbkegley commented on #5
@drewrobb, were you able to find a resolution for this? We are facing what looks like a similar issue with a highly nested schema

[2017-03-20 23:16] drewrobb commented on #5
@dbkegley we have not found a resolution to this, nor even have a proposed way to fix it

[2017-03-21 04:06] thesamet commented on #5
Schemas in Spark must be known ahead of time. A possible workaround would be to set a limit on the recursion depth when generating a schema. Would that be useful?

[2017-03-21 04:19] drewrobb commented on #5
That sounds like it would fix my use case. We aren't storing arbitrarily deep trees or anything-- mostly just single level recursion like in the example in this issue.

[2017-03-21 05:25] thesamet commented on #5
FWIW, for a single level, you could do something like this:

[code]

The downside is that this pushes the parent Person to a field, rather than in the top level. One way to get around this is to have an implicit conversion between `PersonWithOtherPerson` and `Person`.

[2017-03-21 18:00] dbkegley commented on #5
@thesamet I think this would work for us as well. Unfortunately we only consume so don't have access to update the schema. We can advise against recursive fields but there's no guarantee the producers will follow our recommendation

[2017-05-08 10:54] dainkaplan commented on #4
Been stagnant for a while. Is this still in the works? Thanks!

[2017-05-08 14:22] thesamet commented on #4
Sorry, this fell through the cracks. Will look into this in the next few days.

[2017-10-21 14:13] lokkju opened #7 "protoToDataFrame maps Enum types to their String name/value"
As the title says; is this expected behavior?

[2017-10-21 15:16] thesamet commented on #7
Yes, the SQL syntax does not support any representation of enums, or predefined numeric constants. So I thought that strings would be better than ints.

[2017-10-21 15:39] lokkju commented on #7
Hmm.  Ok, I ran into this when trying to roundtrip some protobuf through the spark.write/spark.read; I thought SparkSQL supported custom UDTs, and it seems that custom type is being used when calling spark.CreateDataset in to the DemoSpec; that is why you have the UDFs in there.

This looks promising: https://github.com/dongjinleekr/spark-dataset/blob/master/src/main/scala/com/github/dongjinleekr/

[2017-10-23 08:15] seregasheypak commented on #4
@thesamet hi, do you know what could be the problem? I would like to try to make sparksql-scalapb work with datasets.

[2017-10-24 05:05] thesamet commented on #4
Haven't had a chance to look into this. Help on this issue will be welcome.

[2017-12-05 15:38] promiseofcake opened #8 "Empty jars on compile"
Hi,

I am attempting to use this package via: https://scalapb.github.io/sparksql.html. I have tried both the trueaccord and thesamet artifacts and I always end up with an empty jar with only `META-INF/MANIFEST.MF` inside.

- com.trueaccord.scalapb:sparksql-scalapb:0.1.8
- com.thesamet.scalapb:sparksql-scalapb_2.11:0.7.0-rc1

I have also attempted to compile my own jar from this repo and even thoug

[2017-12-05 17:10] thesamet commented on #8
Hi @promiseofcake, the jars are definitely not empty on maven central. Can you create an example project of what you are doing so I know how to reproduce this issue?

[2017-12-05 17:29] thesamet commented on #8
If you end up with additional information (or you get stuck), maybe you can share here for the benefit of other users. Would love to see this all working together in bazel.

[2017-12-05 17:29] promiseofcake commented on #8
Of course! Will do.

[2018-02-24 00:26] thesamet opened #11 "Exception in thread "main" scala.ScalaReflectionException: <none> is not a term"
Test project: https://github.com/codeexplorer/spark_pb

@codeexplorer

[2018-03-08 08:02] thesamet commented on #11
@codeexplorer, as much as I'd like to fix this issue I am not able to commit to a specific time frame. I have researched the issue and made some initial efforts on this, let me know if you'd like to work on a PR and I'll be happy to review.

[2018-03-08 18:47] codeexplorer commented on #11
@thesamet thanks for your prompt reply. Let me try to give a shot at fixing  ( I have spark knowledge but am a beginner with scala). If you can pl let me know about your initial efforts i.e what areas of the code need to be looked into deeper and a high-level idea on how to go about fixing, I will look into it further

    On Thursday, March 8, 2018 12:02 AM, Nadav Samet <notifications@github.com>

[2018-03-12 21:28] codeexplorer commented on #11
@thesamet can you pl help me with your research on this bug ?

[2018-03-13 04:42] thesamet commented on #11
Sorry for the delay.

The issue is that Spark datasets don't know how to read ScalaPB's enums. I haven't tested, but there is a possibility that frameless can deal with it better (haven't tried): https://typelevel.org/frameless/TypedEncoder.html

If you want to take a stab at it without frameless, then you'll need to implement Spark SQL's `Encoder[T]` type class where `T` is a subclass of generate

[2018-03-30 19:33] codeexplorer commented on #11
@thesamet I spent some time with frameless. Frameless doesnt deal with enums out of the box for spark datasets : one needs to write relevant injection functions for the enums. After writing those functions, I can caseclass with enum types into frameless typedDatasets. However, there is no support in frameless to apply injection functions to the row elements i.e given that I have a dataset with row

[2018-04-08 06:34] thesamet commented on #11
The key is to convert your `Dataset[Array[Byte]]` into `TypedDataset[Array[Byte]]` so you can use its Map function which takes an implicit `TypeEncoder` that uses your ingestion.

Here are some code examples. First, let's define an injection that would work for any ScalaPB enum type:

[code]

With this implicit in scope, ScalaPB messages that contains enums can be used with `TypedDataset`. So let'

[2018-04-19 17:40] caitlinhickey opened #12 "java.lang.RuntimeException: Value for parquet.scalapb.class not found."
When using the method ProtoParquet.loadParquet[T](), ScalaPBReadSupport in prepareForRead searches the parquet file metadata for a key called "parquet.scalapb.class". If the footer of the  parquet file that it is reading doesn't contain that key, and a class value, prepareForRead throws the above error. This seems like unintended behavior because loadParquet is passed the proto class explicitly. T

[2018-04-19 17:42] thesamet commented on #12
Thanks for reporting. It looks like you started debugging this issue - will you be able to work on a PR?

[2018-04-21 00:45] caitlinhickey commented on #12
Hi, my apologies for taking so long to respond. I'm planning to start working on this next week. Thanks!

[2018-04-26 21:32] caitlinhickey commented on #12
Hi, I've done a little bit of work on this, but it doesn't seem to have a simple fix. The problem is that you need a string of the class type name (invariant) for line 19, in ScalaPBReadSupport, but scala's type erasure makes this incredibly difficult to acquire. At this time, because this is not a blocker for me, I'm going to withdraw my attempts to fix. I'd be more than willing to answer questio

[2018-04-26 21:55] thesamet commented on #12
Thanks again for looking into this @caitlinhickey - if you could can you provide a minimal example that gets this exception thrown.

[2018-04-27 18:16] prokod opened #13 "ScalaPBReadSupport setRequestedProjection ?"
It would be nice if the `ReadSupport` impl. `ScalaPBReadSupport` would support setting custom projection similarly to Avro's `AvroReadSupport.setRequestedProjection` and Protobuf's `ProtoReadSupport.setRequestedProjection`

[2018-04-27 19:31] graphex opened #15 "parquet-scalapb?"
I have a non-spark application (using Scala 2.12) which writes proto objects directly to parquet format. I ran into the issue of having no Scala 2.12 binaries published, and that makes sense if this functionality is only used with Spark since Spark is so far from being released on Scala 2.12. However, I think using just the classes in the scalapb/parquet folder is useful even without Spark.
I was

[2018-04-27 19:58] thesamet commented on #15
Sounds reasonable. PR will be welcome!

[2018-05-15 05:18] akhilbojedla commented on #11
@thesamet The same issue happens when you use oneOf.

[2018-05-15 06:25] thesamet commented on #11
@akhilbojedla  - yes that would be expected. If you are interested in using frameless, I think that a solution along the lines of `enumToIntInjection` would do the trick for one one-ofs. Can you try?

[2018-07-18 16:19] justinrmiller commented on #11
Trying this out, I get the following:
[code]
Using the following to try to do the transformation:

[code]

Am I missing something? Thanks!

[2018-11-20 15:29] f1llon opened #16 "Scala 2.12 build"
Spark supports Scala 2.12 since 2.4.0 version.
@thesamet, will it be possible to build `sparksql-scalapb` against Scala 2.12?

[2018-11-24 17:38] thesamet commented on #16
I removed the dependency on sbt-spark-package and released 0.8.0.

[2018-11-24 17:38] #16 closed

[2018-11-30 18:37] amay15 opened #17 "Schema generation invalid for JSON Protos with Int64 values represented as Strings"
I'm attempting to parse json protos in a spark structured stream from kinesis using the from_json method on the json string while using the ProtoSQL.schemaFor function to create the message schema.

The proto definition has int64 fields that according to the proto json spec are represented as strings. However the schema generator is assuming they're represented as long values. When Spark parses th

[2018-11-30 18:49] thesamet commented on #17
Interesting. I think we'd have to have our own Spark json reader (or customize Spark's json reader) that understands the schema so it can do the right conversions.

[2019-10-11 09:41] abhishekvermax commented on #4
use Encoders.Kryo to bind it to dataset

[2019-10-16 16:05] shahbaaz-ahmed opened #27 "object TimestampProtoUdt is not a member of package com.google.protobuf.timestamp"
Hi , has anyone used ScalaPB with a .proto file containing a timestamp type ?

I seem to get this error when doing sbt compile
`object TimestampProtoUdt is not a member of package com.google.protobuf.timestamp`

my `scalapb.sbt` looks like;
[code]

my proto file looks like ;

[code]

i have the following in my build sbt;

[code]
and this in `plugins.sbt`
`libraryDependencies += "com.thesamet.scala

[2019-10-16 16:11] thesamet commented on #27
It looks like you need to call the UdtGenerator for the messages provided by timestamp.proto.

You can do this in a separate sub-project in a multiproject SBT build. See this [example SBT file](https://github.com/thesamet/sbt-protoc/blob/b6a2587c14b2af3941bec467d182146d2f240b27/examples/multi-with-external-jar/build.sbt#L16). The highlighted line adds to the list of sources files that are coming f

[2019-10-17 16:15] thesamet commented on #27
Next step: add google's protobuf UDTs into sparksql-scalapb

[2019-10-17 17:06] thesamet opened #29 "No Encoder found for com.google.protobuf.ByteString"
See https://stackoverflow.com/questions/58391425/parsing-protobuf-bytestring-in-spark-not-working-after-creating-encoder

[2019-11-12 00:06] ManasGeorge opened #41 "map<string, string> field not Serializable"
Having a map<string, string> field in the Protobuf schema makes the SimplePerson spec become unserializable because adding maps brings in an instance of the unserializable TypeMapper class into the generated classes. Are map types not supported?

[2019-11-12 00:21] thesamet commented on #41
Thanks for reporting. I'd like maps to be supported, and it's not something currently covered under tests. I'll take a look soon.

[2019-11-12 02:11] #41 closed

[2019-11-12 04:15] thesamet commented on #41
This is resolved if you upgrade ScalaPB to 0.9.6. I am also working on enhancing sparksql-scalapb so it uses spark maps rather than creating arrays of key-value structs.

[2019-11-12 23:10] ManasGeorge commented on #41
Thank you so much, can confirm that it works smoothly now! 😄

[2019-12-14 20:06] thesamet commented on #29
Fixed in sparksql-scalapb 0.9.0

[2019-12-14 20:07] #29 closed

[2019-12-14 20:07] thesamet commented on #27
UDTs are no longer necessary in latest version of sparksql-scalapb. Closing.

[2019-12-14 20:07] #27 closed

[2020-02-19 01:24] f0ster opened #61 "Unable to perform actions on proto datasets"
I have a proto dataframe created with binary data, which has nested nullable structs

[code]

When I try to perform an action that requires serialization, I get the following error:
[code]

How can I get around this?

[2020-02-19 05:20] thesamet commented on #61
Hi @f0ster , I originally thought this is related to the usage of `google.protobuf.Any`, but this doesn't seem to be the cause (I added a test that confirms that). My guess is that the sparksql-scalapb implicits don't kick in, so it is failing while trying to serialize with Catalyst. Can you confirm you're using the latest sparksql-scalapb, not having `spark.implicts._` imported in scope, and do h

[2020-02-29 00:50] cinspire93 commented on #61
Hi @thesamet,  I'm working with Ryan on the same project. This may be a stupid question but I just want to understand how `defaultInstance` is called in the whole serialization stack. We have removed `spark.implicits._` from the scope and kept `scalapb.spark.Implicits._`. However, we are still getting the same error.

[2020-02-29 01:17] cinspire93 commented on #61
Actually let me append that. It looks like whenever we call `parseFrom`, we have to go through `defaultInstance` to `mergeFrom` the input. `Any.defaultInstance` calls on `LiteralByteString` which is not serializable. Since your test uses generated message instead of parse, it might not have to go through same route and hence not raise any errors. I'm pretty new to this so I may very well be wrong.

[2020-02-29 02:17] thesamet commented on #61
`defaultInstance` represents the default instance of a message and as you have found out it is part of the parsing call chain. Essentially, when a message is parsed, we started from the default instance and whenever fields are read from the stream the defaults values are overridden.

I wasn't able to reproduce the error you are seeing by calling `parseFrom` on a message containing an Any in my tes

[2020-03-01 20:52] cinspire93 commented on #61
Sadly I could not recreate the error at all now matter how I manipulate the schema. I'm beginning to suspect it's a dependency hell problem on EMR, and that `scalapb` is calling into EMR's existing protobuf library. EMR's Hadoop library has protobuf pinned at 2.5.0, whose `LiteralByteString` doesn't implement `Serializable` at all, leading to a serialization error on spark.

[2020-03-01 21:00] thesamet commented on #61
Are you shading com.google.protobuf.* as described here https://scalapb.github.io/sparksql.html#setting-up-your-project ?

[2020-03-01 23:19] cinspire93 commented on #61
Yea I finally got it to work! We are also bringing in some other libraries with proto so I have to shade then merge. But the overall idea remains the same. Thanks for all the help!

[2020-03-01 23:42] cinspire93 commented on #61
Not sure if this question is out of place... After parsing, the array of `MyProto` will be encoded into a data frame. The Any column will be a struct with `type_url` and `value` as its keys. Does scalapb offer any way to unpack the `value` and attach it to the existing data frame?

[2020-03-02 01:48] thesamet commented on #61
So, if you know that all the `Any`s are a certain type `T`, you can just pass the `value` column through `T.parseFrom` - probably a helper UDF would be needed to make it work. Something like this (haven't tried):

     val parseT = spark.sql.functions.UDF { b: Array[Byte] => T.parseFrom(b) }
     df.withColumn("parsed", parseT($"myany.value"))

If you are accessing the `Any` as a Scala object, you

[2020-03-02 01:48] #61 closed

[2020-03-04 01:51] cinspire93 opened #67 "Parsing proto Any fields as part of a bigger proto DataFrame"
Hi there @thesamet! Thanks again for helping with the previous issue. This is a continuation of the issue we discussed towards the end of the last issue. Assume we have the following protos:
[code]
and I already have `eventDF` parsed from proto as follows:
[code]
If I know from the `type_url` that it's going to be a `Hit`, how would I parse `action.value` and add it back to `eventDF`? I have tried

[2020-03-04 16:50] thesamet commented on #67
Thanks for reporting this. I wanted to update that I was able to reproduce this and it's a valid issue that needs to be solved. I will look into this.

[2020-03-08 22:01] #67 closed

[2020-03-08 22:58] thesamet commented on #67
I added `ProtoSQL.udf` that can be used to create UDFs that return protos. There's an example on how to use it:

https://github.com/scalapb/sparksql-scalapb/blob/fa8c8532855b67f41ecc167ca14a86cbdce3406c/sparksql-scalapb/src/test/scala/PersonSpec.scala#L280-L295

You can use the same approach to parse `eventDF` from `srcDF` which could clean that code too.

[2020-03-08 23:04] cinspire93 commented on #67
Awesome sauce! Thanks for jumping on this so quickly :D Just to confirm this is only compatible with Scala 2.12 correct?

[2020-03-08 23:22] thesamet commented on #67
Yes, ScalaPB 0.10.x only works with Scala 2.12 and up. The reason I removed Scala 2.11 is that the Java code that protobuf 3.11.x generates is incompatible with latest scalac 2.11 which reached EOL, so it became unmaintable.

I am still supporting 0.9.x while projects are being upgraded. I have backported this new feature into the 0.9.x and released it with sparksql-scalapb 0.9.1.

[2020-03-08 23:26] cinspire93 commented on #67
Much appreciated. EMR only supports up to 2.11 as of this moment. Their 6.0.x build, which has Scala 2.12, is still in beta. We'd be happy to migrate over once it's released. Thanks for making it compatible with 0.9.x.

[2020-03-13 20:56] mattforbes-gr opened #71 "Friendlier SQL encoding for google wrappers"
We've forked this library to add some automatic conversion for google's wrapper types/timestamps such that they get encoded as more SQL-friendly types. For example google.protobuf.Int32Value is represented as an IntegerType rather than a StructType with a nested value (enabling `SELECT my_int_field` instead of `SELECT my_int_field.value`). This is a workaround so that we can preserve NULLability b

[2020-03-13 21:03] thesamet commented on #71
Sounds great. would be interested in seeing a PR. Thank you!

[2020-04-03 00:10] thesamet commented on #71
I added a change that supports better encoding for primitive wrappers. It is now optional, but will become the default on 0.11.x.

[2020-04-03 16:42] mattforbes-gr commented on #71
@thesamet awesome! Sorry that I never found the time to port over our solution.

[2020-04-03 16:43] jaina00 opened #78 "ScalaPB spark implicits expects enums to be in string"
Hi...

I have a proto file

[code]
For this proto I have a sample json

[code]

here `transactionType` is 0

and with that json as input I am creating a parquet file

[code]

and then finally when I am reading that parquet file using this
[code]

I get error

[code]

But if I repeat step using the below json

[code]

The transactionType is a string "PURCHASE" and not number 0

Then the spark code

[2020-04-03 17:05] thesamet commented on #78
It makes sense to ScalaPB ints for enums in spark, but as you observed it expects strings. The error we show can also be improved to make it more clear.

In the mean time, what you can do is to transform the column yourself from int to string using a scalapb.spark.udf that would do something like `n => OrderType.fromValue(n).name`

[2020-04-03 18:49] #12 closed

[2020-04-03 18:53] #4 closed

[2020-04-06 13:36] jaina00 opened #79 "Spark implicits cannot convert proto 3 map properly"
Hi...

I am having the below proto

[code]

for this proto, I am creating a parquet file using the below json

[code]

and the parquet code is

[code]

so now when i use the parquet generated by the above code in another spark job

[code]

i get the error
[code]

but if i create a new case class instead of the one created by scalaPB and use spark implicits
[code]
I don't get any errors

we are usi

[2020-04-14 15:32] SaiKiranBurle opened #82 "Support Schema evolution for spark Dataframes created from protobuf classes"
Consider the scenario where we have the following schema

[code]
Now, we create a spark DF with this schema and write to a File system. It has two columns `col_1` and `col_2`.

Suppose, we evolve the schema as follows:

[code]
Now, if we try to read the (older) DF with new schema, we get the following error:

[code]

Is there any way sparksql-scalapb can make this schema evolution seamless in spar

[2020-04-14 15:37] SaiKiranBurle commented on #82
I have never worked on spark Encoders or scalapb before. I'm willing to take a look if pointed in the right direction.

[2020-04-14 16:01] thesamet commented on #82
I think there are two options:
1. I think that instead of solving it at the encoder level, it would be much easier to write a function that takes a dataframe and a protobuf type `T` and compares the fields in `T` (through `GeneratedMessageCompanion[T].scalaDescriptor`) to the fields in the df. For missing fields it adds a column with default value (by calling `withColumn`), and removes unexpected

[2020-05-05 17:25] colinlouie commented on #5
@thesamet, I'm in the same boat where I, as a consumer, cannot control the source. It would be great if the ProtoSQL driver could have a recursion-depth limit/parameter. As a workaround, I'm looking into a way to flatten this out before it hits Spark. The recursion is maximum 10 deep if that helps.

[2020-06-06 17:51] SaiKiranBurle opened #97 "Scalapb sparksql does not work with Spark 3 (preview)"
I tried building sparksql-scalapb with spark version `3.0.0-preview2` and it built successfully, but there are runtime errors, mainly missing spark encoders.

I have constructed a minimal example and test here:
https://github.com/SaiKiranBurle/sparksql-scalapb-test

The test can be done using `sbt test`

The specific error that I got from the above test is:
[code]

[2020-06-06 20:27] thesamet commented on #97
There is a binary incompatibility between the current version of Frameless (which sparksql-scalapb) is using, and Spark 3. I have filed this ticket upstream (typelevel/frameless#427). At this point we are blocked until the above issue is resolved.

[2020-06-26 10:29] Veske opened #111 "ScalaPB is unable to convert timestamp column to protobuf timestamp"
Doing so will result in
[code]

I created a test repo here: https://github.com/Veske/protobuf-timestamp
Run the ConvertTimestamp test and verify that it succeeds (`AnalysisException` is thrown)

[2020-06-27 13:56] thesamet commented on #111
Protobuf timestamp has nanosecond resolution, and Spark's timestamp has microsecond precision, so a conversion by default would introduce information loss. We could make it an option (like we do with `ProtoSQL.withPrimitiveWrappers`), but that requires some digging into the code, and perhaps it's better to do this following the Spark 3.0.0 support.

However, for the time being, it is recommended t

[2020-06-29 15:45] Veske opened #113 "ScalaPB is unable to convert fields with multiple sections"
Run `sbt test` on the example https://github.com/Veske/protobuf-field-names

This will result in an error:
[code]

It is quite normal and agreed upon convention to use `camelCase` naming style for Scala code but sparksql-scalapb seems to expect the fields of the source data structure to be named in `snake_case `.

This should either be very obviously mentioned somewhere in the documentation or the

[2020-06-29 16:19] Veske commented on #111
Thanks! A `udf` will be the way to go for me for now then. I guess you can feel free to close it in that case.

[2020-07-03 14:10] #111 closed

[2020-07-03 19:05] #113 closed

[2020-07-03 19:09] thesamet commented on #113
This behavior is by design. Since the common convention for Spark/SQL column names is snake_case (see [here](https://github.com/MrPowers/spark-style-guide#columns) and [here](https://docs.aws.amazon.com/athena/latest/ug/tables-databases-columns-names.html) , SparkSQL-ScalaPB expects a schema where the column names match the field names as defined in the proto (which would presumably be snake_case

[2020-07-24 16:20] Slakah opened #119 "google proto Timestamp to spark TimestampType"
Would be really helpful if there were a way to ensure a `google.protobuf.Timestamp` would be encoded as a `org.apache.spark.sql.types.TimestampType`. As currently it's encoded as a `timestamp:struct<seconds:bigint,nanos:int>`, meaning the timestamp field can't be used for operations such as `withWatermark`, or `groupBy(window(...))`.

Happy to help make this change myself, but would need some help

[2020-07-24 16:46] thesamet commented on #119
Hi @Slakah , we got a similar ticket not so long ago - see #111 on some notes about potential loss of accuracy in conversion. Though, I agree it would be useful as an opt-in option. In the latest version in master there's a way to create settings like SchemaOptions.

[2020-07-24 17:13] Slakah commented on #119
@thesamet , thanks for the info as to why this is the way it is. Had a quick look at [`SchemaOptions`](https://github.com/scalapb/sparksql-scalapb/blob/master/sparksql-scalapb/src/main/scala/scalapb/spark/SchemaOptions.scala), and just trying to unpick how a custom encoder for `google.protobuf.Timestamp => org.apache.spark.sql.types.TimestampType` would be added. Usually you would just use the `ja

[2020-07-30 05:22] #79 closed

[2020-09-03 16:16] paulfryzel commented on #97
It looks like both https://github.com/typelevel/frameless/issues/427 and https://github.com/typelevel/frameless/pull/433 have been resolved+merged now. Are there any other blockers?

[2020-09-03 16:19] thesamet commented on #97
The next step would be to try and update the dependencies and see if this project's test suite passes. Will you be able to look into this and report?

[2020-09-03 16:28] paulfryzel commented on #97
@thesamet Sure thing. I'll test against their 0.9.0 release. I'll look into it shortly.

[2020-09-03 18:24] paulfryzel commented on #97
So frameless 0.9.x isn't published anywhere, raised https://github.com/typelevel/frameless/issues/440 for that.

On a build of `frameless-dataset` off master, dropped into a fresh sparksql-scalapb w/ `spark-sql` @ 0.3.0, I'm seeing a series of errors: https://gist.github.com/paulfryzel/1462eb3b2fae5e3abdb80f4ef0b86f75. I'll see what I can step through later on.

[2020-09-29 07:23] rsi2m commented on #97
@paulfryzel frameless 0.9 seems to be published now.

Did you manage to resolve the aforementioned errors?

[2020-09-29 20:30] paulfryzel commented on #97
@rsi2m Thanks for the heads up! I've updated [my fork](https://github.com/scalapb/sparksql-scalapb/compare/master...paulfryzel:feature/upgrade-frameless-0.9) accordingly and [reproduced the test output](https://gist.github.com/paulfryzel/0dc55556cb1df6198d05523a6617b761) for review.

Currently, I'm at 20/36 tests passed but haven't had any real time to work on it since. While I may be able to free

[2020-09-29 23:08] thesamet commented on #97
Thanks so much for your help with this @paulfryzel !  I was planning to check out your work on this as well soon and see what's needed to take it to the finishing line.

[2020-10-01 00:33] #97 closed

[2020-10-01 00:38] thesamet commented on #97
I was able to fix the rest of the tests and we now have Spark 3 fully supported. :tada:

Big thanks to @paulfryzel for the initial commit. The rest was just working through some obscure change in Spark behavior (possibly a bug?) that has something to do about input null-checks next to `StaticInvoke`. Most code I found does these null checks around `NewInstance` calls, so rewriting how we construct

[2020-10-01 00:43] thesamet commented on #97
I released 0.11.0-RC1 - please check it out and report any issues.

[2020-10-01 00:45] paulfryzel commented on #97
@thesamet Thanks a lot for bringing this all together! Very much appreciated.

Will bring into our development codebases this week and get some feedback.

[2020-10-01 05:38] rsi2m commented on #97
@paulfryzel @thesamet Thank you guys! Awesome work!

[2020-11-02 20:43] thesamet commented on #82
Closing due to inactivity.

[2020-11-02 20:43] #82 closed

[2020-11-02 20:43] #71 closed

[2020-11-02 20:44] #78 closed

[2020-11-02 20:45] thesamet commented on #17
For future reference, the solution would probably be to read the json into spark. Then convert the string column to long column using Spark functions and then pass to ScalaPB.

[2020-11-02 20:45] #17 closed

[2021-01-07 08:45] guoch opened #154 "Spark 3.0.1 No Encoder found for com.google.protobuf.ByteString"
Hi Team,

I am getting the  No Encoder found for com.google.protobuf.ByteString in the sparksql-scalapb 0.11.0-RC1 with Spark3.
I used this example https://github.com/thesamet/sparksql-scalapb-test with newer package version, and
https://scalapb.github.io/docs/sparksql#from-binary-to-protos-and-back, shaded the copy of the Protocol Buffer runtime and scala-collection-compat as well, but it didn't

[2021-01-07 09:00] thesamet commented on #154
Hi @guoch , can you try using ScalaPB 0.10.x. Version 0.11.x is not tested with SparkSQL-scalapb. Please see the table in this doc for supported combinations of versions: https://scalapb.github.io/docs/sparksql

Another possibility for the problem you are seeing is that spark-shell is bringing in Spark's default implicits. If the problem persists after downgrading ScalaPB to 0.10.x, try deploying

[2021-01-07 09:11] guoch commented on #154
Hi @thesamet  Thank you for looking into this.  I also tried the scala PB "sparksql-scalapb" % "0.10.4", it doesn't work as well. Failed with the same error trace. Below is my build.sbt

==========================
[code]

[2021-01-07 09:15] guoch commented on #154
In addition, I previously tested it with a jar installed to a Databricks Runtime 7.4 (Spark 3.0.1), that Jar installed to all the executors as well.  It fails, then I tried to test in the Open Source Spark 3.0.1.

In the error trace, I see it is looking for class: "com.google.protobuf.ByteString",   My understanding is that, I already shade rename  , should the catalyst looks for the  shadeproto.B

[2021-01-11 07:38] guoch commented on #154
Hi @thesamet

I verify that the cause might be the "spark-shell is bringing in Spark's default implicits" as you mentioned.
Verified that the spark-submit is the only working way
`spark-3.0.1-bin-hadoop2.7/bin/spark-submit --class myexample.RunDemo protoscalapb-assembly-0.3.jar`

The situation seems to be related with the SparkSession.builder().getOrCreate().  For spark-shell and Databricks platfo

[2021-01-11 16:37] thesamet commented on #154
Hi @guoch , the issue is not related to where the SparkContext is created (or whether it is shared) , it is related to which `implicit` definitions are imported in the scope where your code is running. It looks like spark-shell has it [hard-coded]( https://github.com/apache/spark/blob/1495ad8c46197916527236331b57dce93aa3b8ec/repl/src/main/scala-2.12/org/apache/spark/repl/SparkILoop.scala#L74). I a

[2021-01-12 02:10] guoch commented on #154
Sure, thank you for your clarification. I will also check the Databricks/Spark developers to research further.

[2021-01-14 05:08] guoch commented on #154
I talked to one of the guy from Databricks product group, they confirmed that they won't disable those forced imports in their platform.  Looks like the databricks notebook is doing similar thing to the spark-shell.

Databricks also has spark-submit, I tested that work as well.

So overall, the cause is related with implicit definitions scope,   It can't work in Databricks platform or spark-shell.

[2021-01-14 07:17] #154 closed

[2021-06-04 16:57] AntonioYuen opened #191 "scalapb spark implicit encoders cannot handle java.sql.Timestamp on outerclass"
When attempting to serialize `case class OuterCaseClassTimestamp(x: Person, y: Timestamp)` into a Dataframe, the following compilation error ensues:
[code]

This only occurs when using a case class containing a `java.sql.Timestamp`

[2021-06-04 18:47] #191 closed

[2021-10-11 07:41] AlexisBRENON opened #211 "Support missing repeated fields in json input"
When loading data from json input, it can happen that an empty repeated field is missing from the input.
In this case, deserialization fails with a `NullPointerException`.

For example, given the following protobuf message and the Spark reading sample:
[code]

[code]

It is possible to read the following file:
[code]

But this one throws the following error:
[code]

[code]
[code]

This is because

[2021-11-26 12:58] AlexisBRENON commented on #211
This is fixed by #220 and #217

[2021-11-26 12:58] #211 closed

[2021-11-26 13:10] AlexisBRENON opened #225 "Scala case class fields shuffling"
Hi, I just created #224 to highlight a weird behavior when using scalapb encoders with "classic" scala case class.

Given a case class with two fields with same type (`AddressLike(street: Option[String], city: Option[String])`) I save a dataset using the first field (street) as the partitionning column.
Then when loading the dataset, spark create a dataframe with columns `city` and `street`.
Final

[2021-11-26 14:40] AlexisBRENON commented on #225
This seems to be a frameless issue.
I reproduce the errors on their repo: https://github.com/typelevel/frameless/compare/master...AlexisBRENON:case_class_support#diff-dd83f3b1d1a249804b5620473177ce6034efbc5f36b45a9b1ef01283cafd50f9R540
And it seems that others already report it: typelevel/frameless#411

[2021-12-21 16:30] thesamet commented on #225
I suggest to keep tracking it upstream. My understanding from the above is that it is not actionable by ScalaPB.

[2021-12-21 16:30] #225 closed

[2022-01-30 18:00] thesamet commented on #119
Closing due to inactivity. I'll be happy do discuss a PR that would introduce some sort of type registry (like we have for json) that would allow setting mapping protobuf types to spark types.

[2022-01-30 18:00] #119 closed

[2022-03-18 03:42] sujitbiswas opened #260 "sparksql-scalapb java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.expressions.objects.Invoke."
using

maven project with dependency

[code]

scala code looks as below

[code]

Run starting. Expected test count is: 1
FrameTest3:
22/03/17 20:30:53 WARN util.Utils: Your hostname, SUJITB-MLT-2.local resolves to a loopback address: 127.0.0.1; using 10.0.0.52 instead (on interface en0)
22/03/17 20:30:53 WARN util.Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/03/17 20:30:53 W

[2022-03-18 04:09] sujitbiswas commented on #260
the issue is with

<spark.version>3.2.1</spark.version>

it works with

<spark.version>3.2.0</spark.version>

[2022-03-18 04:09] #260 closed

[2022-05-19 09:53] GreenBombel opened #267 "Encoder error"
plugins.sbt

[code]

build.sbt
[code]

code
[code]

msgs.proto
[code]

Works properly with `spark 3.1.x` and `"sparksql31-scalapb0_11" % "1.0.0-M1"` but with `spark 3.2.x` and `"sparksql31-scalapb0_11" % "1.0.0-M1"` wil fail with

[code]
and issue is with encoding parsed message in map function
[code]

[2022-05-19 10:39] GreenBombel commented on #267
One update.
It does work with `spark 3.2.0` and only `3.2.1` is not working :(

[2022-05-19 13:32] thesamet commented on #267
Spark 3.2.0 and Spark 3.2.1 has binary incompatibilities in its internal APIs, so it is impossible to produce a single version that seamlessly works with both versions of Spark. I have created a new release (1.0.0) compatible with Spark 3.2.1, and updated the docs at https://scalapb.github.io/docs/sparksql#setting-up-your-project. Existing sparksql version 1.0.0-M1 is pretty much the same as 1.0.0

[2022-05-19 13:59] GreenBombel commented on #267
Solved in 4h 😮
I can only confirm that it works :)
👍

[2022-08-15 19:04] cdecoux opened #278 "Task Not Serializable - NotSerializableException: scalapb.descriptors.FieldDescriptor"
I'm running into an issue with [Databricks runtime 10.4 (Spark 3.2.1, Scala 2.12)](https://docs.databricks.com/release-notes/runtime/10.4.html). I'm wondering if it's a solvable environmental issue with Databricks or inherently due to their proprietary Spark runtime, but I'm not even sure where to begin looking at this point. My test files/notebooks are below:

---
test/test.proto:
[code]
---
plug

[2022-08-15 19:11] thesamet commented on #278
Hi @cdecoux , can you check if the same works outside databricks? One way to do that would be to add the above code to `PersonSpec` or `DefaultSpec` within this project and run it from sbt.

[2022-08-15 19:41] cdecoux commented on #278
@thesamet Yes, I confirmed it works outside of Databricks. I imported the fat jar in spark shell via `spark-shell --jars` and ran the notebook code exactly (which actually worked).

[2022-08-15 19:56] thesamet commented on #278
Is there a version on spark/databricks where the same example stopped working? Would it be possible for you to work with databricks support to suggest workarounds?

[2022-08-16 15:30] cdecoux commented on #278
I was able to confirm that moving from Databricks Runtime LTS version 9.1 to 10.4 is when the issue arises. I will indeed open a discussion with Databricks Support regarding it.

[2022-08-23 15:00] oroundtree opened #279 "Assembly shaderules break serialization/deserialization with Dataset and Dataframe"
I've been working on an issue for a while now where certain features of sparksql-scalapb haven't been working correctly, mostly related to encoders and the following error when creating a Dataframe or Dataset of serialized protobuf data:
`Unable to find encoder for type Array[Byte]. An implicit Encoder[Array[Byte]] is needed to store Array[Byte] instances in a Dataset. Primitive types (Int, String

[2022-08-23 15:59] thesamet commented on #279
Hi @oroundtree , thanks for reporting. Indeed sounds very strange that the presence of the shading rule creates a problem. Can you provide a minimal example to reproduce this including instructions? You can start by forking https://github.com/thesamet/sparksql-scalapb-test

[2022-08-23 16:15] oroundtree commented on #279
Here you go: https://github.com/oroundtree/sparksql-scalapb-test-oroundtree

Master has the shaderule and the tests present, and the no-shaderule branch has the shaderule removed and the version number bumped up so I can test adding the two jars as unmanaged dependencies separately. Here are the steps I follow to reproduce it:

1. Pull master
2. build the jar using `sbt assembly`
3. Import the jar

[2022-08-23 17:05] thesamet commented on #279
Thanks, I quickly read through. For step 3, can you provide that "another project" as well so and make the edits in your message above, just so the issue is self contained?

[2022-08-23 18:56] oroundtree commented on #279
I've updated the steps with the small example project and more exact steps on how to reproduce the error. Hope it helps!

[2022-08-26 22:35] thesamet commented on #279
Thanks for providing the detailed example. I was able to follow the instructions and see the issue. The example guides us into something that's a little tricky to reason about bringing : the assembled jar brings a shaded version of shapeless, and the parent project brings another unshaded copy. I think it was unintended, but the shaded jar brings also scalatest. The practice I want to encourage is

[2022-08-30 13:54] oroundtree commented on #279
1. I was able to confirm that including the serialization/deserialization in the demo and then submitting the proto jar directly to a local cluster using spark-submit works.
2. Basically I've got a complex project with lots of proto definitions, including gRPC services. These are kept in a repo which is automatically assembled and pushed to an artifact repository when changes are made and this ens

[2022-08-30 15:52] thesamet commented on #279
Trying to understand the above. The suggested practice is to have all the intermediate dependencies (which can contain protos) remained unshaded, and only perform the assembly/shading for the final artifacts you deploy. You write that this would lead to editing of protos that import other protos upon their change - I'm not following this part - can you explain in more detail? What edits would be n

[2022-09-09 20:29] dnmfarrell opened #282 "`.as[Foo]` doesn't catch DataFrame Dataset type differences"
When used as a dataset, scalapb generated case classes don't catch type mismatches in the logical plan like ordinary scala case classes do.

E.g. in spark shell (regular case class):

[code]

Scalapb case class-based encoders don't blow up on `as`, but when the query runs (e.g. `bdf.as[Foo].head`).

[2022-09-09 20:30] dnmfarrell commented on #282
(I would post my scalapb example but I'm running into the spark v scalapb protobuf version difference which I usually shade away but isn't working rn.)

[2022-09-12 02:27] dnmfarrell commented on #282
I forked the [test repo](https://github.com/dnmfarrell/sparksql-scalapb-test/commit/e6a8e4cc7ccb90a566caa6d9447d6290ad3c1ab3) and can reproduce the issue:
- `0.11.0` displays the behavior described in this ticket - `val ds: Dataset[Small] = df.as[Small]` does not throw an exception despite the dataframe being incompatible with the dataset.
- `1.0.1` does throw and exception, but it's: `java.lang.N

[2022-09-13 15:22] cdecoux commented on #278
Databricks support team is reporting that a fix should be available by the end of the month.

[2022-09-16 05:30] pra91 commented on #278
Just FYI this is also broken (and subsequently fixed) for open source spark 3.3.0, Issue is this one https://issues.apache.org/jira/browse/SPARK-40380

[2022-09-28 16:43] cdecoux commented on #278
Databricks has deployed the fix and 10.4 DBR now seems to be working.

[2022-09-28 16:44] #278 closed

[2022-10-14 14:16] dnmfarrell commented on #282
Re: `java.lang.NoSuchMethodError` - that was my mistake of compiling for spark 3.2, and running on spark 3.1 :facepalm:

It seems like casts from one shape of data to another are caught. E.G. `(x: Int) -> (x: Int, y: Int)` emits `org.apache.spark.sql.AnalysisException: cannot resolve 'y' given input columns`.

[2022-10-23 17:34] jckegelman opened #284 "Protos with nested extensions fail with Task not serializable"
Hi, I am running into the following error:
[code]

when running this code:
[code]

with these proto definitions:
[code]

Full stack trace:
[code]

It looks like adding a [nested extension](https://developers.google.com/protocol-buffers/docs/proto#nested-exts) adds that field to the "outer" object (`Baz` in the example above) so somewhere in the schema encoding it is trying to serialize `Baz.bar`,

[2022-10-23 23:19] #284 closed

[2022-10-24 01:47] thesamet commented on #284
Thanks for reporting and for providing a reproducible example. The fix indeed makes `Lens` `Serializable` and will be part of the next Scala release.

[2022-10-24 04:39] jckegelman commented on #284
that's great, thanks for the quick fix!

[2022-10-28 17:38] jckegelman commented on #284
hi, do you have a rough timeline for the next ScalaPB release? In the meantime, do you publish snapshots?

[2022-10-28 17:53] thesamet commented on #284
Hi, `v0.11.12` is being published right now. It all goes well, it should be available on maven within the hour.

[2022-10-28 17:54] thesamet commented on #284
And yes - there are snapshots here: https://oss.sonatype.org/content/repositories/snapshots/com/thesamet/scalapb/

[2022-10-30 16:56] jckegelman commented on #284
That's great, thanks! One more question, do you have an approximate timeline for the next release of the `sparksql-scalapb` package? In the meantime we can use the snapshot.

Thanks again!

[2022-10-30 17:05] thesamet commented on #284
Hi @jckegelman , there are no changes in sparksql-scalapb relevant to this changes. Doesn't 1.0.1 work for you?

[2022-10-30 17:13] jckegelman commented on #284
oh, right, I think that should work. Sorry, just went through dependency hell trying to upgrade other packages but I believe you are correct in that we can depend on the latest ScalaPB `v0.11.12` and get that into the über JAR we use even though this package depends on `v0.11.11`. I'll give it a try but I think we should be good, thanks!

[2022-10-30 21:09] jckegelman commented on #284
confirmed, that works, thanks again!